*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background: linear-gradient(to left,#ADE6FF,#2400FF);
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculo{
    width: 50vw;
    height: 90vh;
    background-color: rgba(51, 1, 114, 1);
    color: rgba(0, 0, 0, 1);
    display: grid;
    border-radius: 30px;
    margin: 30px;
}

#calculo h1{
    font-size: 2.5em;
    color: rgba(180, 232, 255, 1);
    align-items: center;
    display: flex;
    justify-content: center;
}

#operaçao{
    text-align: right;
    margin: auto;
    width: 45vw;
    height: 13vh;
    background-color: whitesmoke;
    border-radius: 20px;
}

#op-anterior{
    margin-right: 3%;
    overflow-wrap: break-word;
    min-height: 1.5em;
    font-size: 2em;
    color: black;
}

#op-atual{
    margin-right: 3%;
    min-height: 1.5em;
    font-size: 2em;
    overflow-wrap: break-word;
    color: black;
}

#button-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3%;
    margin: 4%;
}

#button-container button{
    border: 0;
    border-radius: 20px;
    font-size: 2.5em;
    background-color: black;
    cursor: pointer;
    color: white;
}

#button-container :hover{
    background-color: #999;
    border-color: #999;
}

#button-container #df-button{
    grid-column: span 2;
    background-color: #A700D0;
    color: white;
}

@media(max-width:820px){
    #calculo{
        width: 80vw;
        height: 93vh;
        display: grid;
        border-radius: 30px;
    }
    
    #calculo h1{
        font-size: 2.5em;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    #operaçao{
        width: 70vw;
        height: 13vh;
        margin: auto;
        border-radius: 20px;
    }
    
    #op-anterior{
        overflow-wrap: break-word;
        min-height: 1.5em;
        font-size: 2em;
    }
    
    #op-atual{
        margin-right: 3%;
        min-height: 1.5em;
        font-size: 2em;
        overflow-wrap: break-word;
    }
    
    #button-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 3%;
        margin: 4%;
    }
    
    #button-container button{
        height: 10vh;
        font-size: 2.5em;    
    }

    #button-container #df-button{
        grid-column: span 2;
    }
}